body {
  background-image: linear-gradient( 10deg, rgba(31, 30, 30, 0.322), rgba(56, 56, 56, 0.37) ), url("../imagens/mosaic.png");
  padding: 1.875rem;
}

form {
  width: 60%;
  margin: 0 auto;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.397);
  padding: 1.875rem 0;
}

#img-header {
  width: 120px;
  border-radius: 50%;
  margin-right: 50px;
  box-shadow: 0 0 0.5em rgb(76, 77, 77);
}

header {
  width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 2.188rem;
  color: #bbb9b9;
  padding: 2.5rem;
}

section {
  padding: 1.875rem;
  width: 62rem;
  border-radius: 0.625rem;
  border-width: 0.313rem;
  border-style: dashed;
  border-color: #4444447a;
  background: rgba(48, 48, 48, 0.295);
  margin: 1.25rem 0;
  box-sizing: border-box;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #cac8c8;
  background-color: rgba(44, 44, 44, 0.678);
  border-radius: 0.188rem;
  padding: 0.625rem;
  margin-bottom: 1.875rem;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: #ffffff;
  line-height: 1.75rem;
}

i {
  font-size: 1.125rem;
}

.links {
  text-decoration: none;
  color: rgb(255, 197, 5);
}

.links:hover {
  color: rgb(255, 119, 7);
  transition: 1s;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
  margin-bottom: 1.25rem;
}

.nav-icon {
  font-size: 1.563rem;
  padding-right: 0.625rem;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1.563rem;
  color: #838383cb;
}

.nav-link:hover {
  transition: 1s;
  color: #f0eeeee1;
}




#description-perfil {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-size: 1.25rem;
  padding: 0 0.625rem;
  color: #ffffff;
  line-height: 1.75rem;
}

.links {
  text-decoration: none;
  color: rgb(255, 197, 5);
}

.links:hover {
  color: rgb(255, 119, 7);
  transition: 1s;
}

mark {
  background-color: rgb(255, 197, 5);
  color: #000000;
}








#container-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  object-fit: cover;
  margin: 0 3.125rem;
}

.image-grid {
  width: 100%;
  margin-top: 1.875rem;
  position: relative;
}

.image-grid:hover {
  transition: 1s;
  opacity: 60%;
}

.image-hobbies {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.313rem;
}

.name-hobbies {
  font-family: 'Roboto', sans-serif;
  color: rgb(201, 200, 200);
  text-align: center;
  background-color: rgba(58, 58, 57, 0.438);
  font-size: 1.563rem;
  padding: 0.313rem 0;
  position: absolute;
  top: 15rem;
  width: 100%;
}

#video {
  padding-top: 1.25rem;
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

source {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

audio {
  width: 100%;
  margin-bottom: 3.125rem;
}

footer {
  text-align: center;
  color: #cac8c8;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

#video-container, #audio-container, footer {
  border-radius: 0.625rem;
  margin-top: 1.875rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}






.dados-formulario {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.313rem;
  border: 0;
  display: block;
  margin: 1.25rem 0 0 0;
}

select {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  background-color: rgb(255, 197, 5);
  color: #000000;
  text-decoration: none;
  height: 2.5rem;
  width: 100%;
  border: 0;
  border-radius: 0.313rem;
}

textarea {
  border-radius: 0.313rem;
  width: 100%;
  margin: 0;
  padding: 0.313rem 0 0 0;
  color: #1d1d1da2;
}

.button-contact {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  height: 1.875rem;
  width: 6.25rem;
  background-color: rgb(255, 197, 5);
  color: #000000;
  border: 0;
  border-radius: 0.313rem;
  margin-right: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}

.button-contact:hover {
  transition: 1s;
  background-color: rgb(255, 138, 5);
}